body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.propertyCard {
  margin: 0 0 0 1em;
  padding: 1em;
}

.propertyCard-content {
  display: flex;
  flex-direction: column;
}

.slider,
.slider-item {
  width: 300px;
  height: 200px;;
}

.slider-item img {
  object-fit: cover;
}



